.main-content-wrapper {
  padding-left: 195px;
  padding-right: 195px;
  height: calc(100vh - 230px);
  margin-top: 80px;

  .sub-header {
    display: grid;
    grid-template-columns: 6fr 1fr;
    margin-bottom: 40px;
  }
}