.main-content {
  padding-left: 125px;
  padding-right: 125px;
  height: calc(100vh - 230px);
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin-top: 80px;

  .sub-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 40px;
  }
}